
@using System.Configuration
@model BlogEngine.Models.ListViewModel

@* Read the current page and total pages *@
@{
    int postsCountInHomePage = Convert.ToInt32(ConfigurationManager.AppSettings["NumberOfPostsOnHomePage"].ToString());
    var totalPages = Math.Ceiling((double)Model.TotalPosts / postsCountInHomePage);
}
<!-- Pagination for Home page -->
@if (Model.PageNo > 1 || Model.PageNo < totalPages)
{
    string webhostUrl = ConfigurationManager.AppSettings["WebHostAddress"].ToString();
    if (Model.isHomePage == true)
    {
        var _previous = string.Format("/page/{0}", Model.PageNo - 1);
        var _next = string.Format("/page/{0}", Model.PageNo + 1);

        <div class="pager">
            <!--Home page pagination links-->
            <a href="@webhostUrl@_previous" title="Previous" class="btn btn--stroke float-left"
               style="visibility:@(Model.PageNo > 1 ? "visible" : "collapse")"><< previous</a>
            <a href="@webhostUrl@_next" title="Next" class="btn btn--stroke float-right"
               style="visibility:@(Model.PageNo < totalPages ? "visible" : "collapse")">next >></a>
        </div>
    }
    else
    {
        int _previd = Model.PageNo - 1;
        int _nextid = Model.PageNo + 1;
        if (Model.Category != null)
        {
            <div class="pager">
                <!--Home page pagination links-->
                <a href="@Url.Action("category", "Blog", new
                    {
                        catUrlSlug = Model.Category.CategoryUrlSlug,
                        p = _previd
                    })" title="Previous" class="btn btn--stroke float-left"
                   style="visibility:@(Model.PageNo > 1 ? "visible" : "collapse")"><< previous</a>
                <a href="@Url.Action("category", "Blog", new
                    {
                        catUrlSlug = Model.Category.CategoryUrlSlug,
                        p = _nextid
                    })" title="Next" class="btn btn--stroke float-right"
                   style="visibility:@(Model.PageNo < totalPages ? "visible" : "collapse")">next >></a>
            </div>
        }
        else if (Model.Tag != null)
        {
            <div class="pager">
                <!--Home page pagination links-->
                <a href="@Url.Action("tag", "Blog", new
                    {
                        tagSlug = Model.Tag.TagUrlSlug,
                        tp = _previd
                    })" title="Previous" class="btn btn--stroke float-left"
                   style="visibility:@(Model.PageNo > 1 ? "visible" : "collapse")"><< previous</a>
                <a href="@Url.Action("tag", "Blog", new
                    {
                        tagSlug = Model.Tag.TagUrlSlug,
                        tp = _nextid
                    })" title="Next" class="btn btn--stroke float-right"
                   style="visibility:@(Model.PageNo < totalPages ? "visible" : "collapse")">next >></a>
            </div>
        }
        else
        {
            <div class="pager">
                <!--Home page pagination links-->
                <a href="@Url.Action("Search", "Blog", new
                    {
                        s = Model.Search,
                        p = _previd
                    })" title="Previous" class="btn btn--stroke float-left"
                   style="visibility:@(Model.PageNo > 1 ? "visible" : "collapse")"><< previous</a>
                <a href="@Url.Action("Search", "Blog", new
                    {
                        s = Model.Search,
                        p = _nextid
                    })" title="Next" class="btn btn--stroke float-right"
                   style="visibility:@(Model.PageNo < totalPages ? "visible" : "collapse")">next >></a>
            </div>
        }
    }
}

