@using System.Globalization
@model BlogEngine.DTO.Post

@{
    DateTime dt = new DateTime();
    dt = Convert.ToDateTime(Model.PostedOn);
}

<article class="col-block">
    <div class="blog-date">        
        <a href="blog-single.html">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(dt.Month) @dt.Day, @dt.Year</a>
    </div>
    <h2 class="h01">
        @Html.PostLink(Model)
    </h2>
    <p>
        @Model.PostMeta
    </p>
    <div class="blog-cat">
        @Html.CategoryLink(Model.Category)        
    </div>
</article>


