@using System.Globalization
@model BlogEngine.DTO.Post

@{
    DateTime dt = new DateTime();
    dt = Convert.ToDateTime(Model.PostedOn);
}

<article class="col-block">
    <div class="blog-date">        
        <a href="blog-single.html">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(dt.Month) @dt.Day, @dt.Year</a>
    </div>
    <h2 class="h01">
        @Html.PostLink(Model)
    </h2>
    <p>
        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh dolore irure esse Duis nulla sint.
    </p>
    <div class="blog-cat">
        @Html.CategoryLink(Model.Category)        
    </div>
</article>


