@using System.Globalization
@model BlogEngine.Models.ListViewModel

@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@{
    DateTime dt = new DateTime();
    dt = Convert.ToDateTime(Model.LatestPost.PostedOn);
}

<!-- page header
    ================================================== -->
<section class="page-header page-hero" style="background-image:url(@Url.Content("~/Content/themes/Hola10/images/blog/blog-bg-01.jpg"))">

    <div class="row page-header__content">
        <article class="col-full">
            @if (ViewBag.PreviousPage == "HOME")
            {
                <div class="page-header__info">
                    <div class="page-header__cat">
                        @Html.CategoryLink(Model.LatestPost.Category)
                    </div>
                    <div class="page-header__date">
                        Sept 16, 2017
                        @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(dt.Month) @dt.Day, @dt.Year
                    </div>
                </div>

                <h1 class="page-header__title">
                    @Html.PostLink(Model.LatestPost)
                </h1>
                <p>@Model.LatestPost.PostMeta</p>
                <p>
                    <a href="@Url.Action("Post","Blog",new { urlslug= Model.LatestPost.PostUrlSlug })" class="btn btn--stroke page-header__btn">Read More</a>
                </p>
            }
            else
            {
                //Previouspage is 'SEARCH'
                <div class="row page-header__content">
                    <article class="col-full">
                        <h2 class="page-header__title">
                            <a href="#0" title="">
                                @ViewBag.Title
                            </a>
                        </h2>
                    </article>
                </div>
            }
        </article>
    </div>

</section> <!-- end page-header -->
<!-- blog
================================================== -->
<section class="blog-content-wrap">

    <div class="row blog-content">
        <div class="col-full">

            <div class="blog-list block-1-2 block-tab-full">
                @if (Model.Posts.Count > 0)
                {
                    foreach (var post in Model.Posts)
                    {
                        @Html.Partial("_PostTemplate", post)                        
                    }
                }
                else
                {
                    <p>No Post Found</p>
                }

            </div> <!-- end blog-list -->

        </div> <!-- end col-full -->
    </div> <!-- end blog-content -->

    <div class="row blog-entries-nav">
        <div class="col-full">
            @*<a href="#0" class="btn btn--stroke">
                <i class="im im-arrow-left"></i>                
            </a>
            <a href="#0" class="btn btn--stroke">
                
                <i class="im im-arrow-right"></i>
            </a>*@
            @Html.Partial("_Pager", Model)
        </div>
    </div>

</section> <!-- end blog-content-wrap -->

<!--Subscription section-->
<section id="stats" class="s-stats">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h2>Subscribe to our new letter.</h2>
            <p class="lead">
                To get the latest updates from our site subscribe to our site.
            </p>
            <a href="@Url.Action("Subscribe","Blog")" class="btn btn--stroke">Click to Subscribe</a>
        </div>
    </div>

</section><!--end Subscription -->

<script src="~/Scripts/app/Blog/List.js"></script>



   

