@using System.Globalization
@model BlogEngine.DTO.Post
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<article class="blog-single">

    <!-- page header/blog hero
    ================================================== -->
    <div class="page-header page-header--single page-hero" style="background-image:url(@Url.Content("~/Content/themes/Hola10/images/blog/blog-bg-02.jpg"))">

        <div class="row page-header__content narrow">
            <article class="col-full">
                <div class="page-header__info">
                    <div class="page-header__cat">
                        <a href="#0">@Model.Category.CategoryName</a>
                    </div>
                </div>
                <h1 class="page-header__title">
                    <a href="#0" title="">
                        @Model.Title
                    </a>
                </h1>
                <ul class="page-header__meta">                    
                    @{
                        DateTime dt = new DateTime();
                        dt = Convert.ToDateTime(Model.PostedOn);
                     }
                    <li class="date">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(dt.Month) @dt.Day, @dt.Year</li>
                    <li class="author"> By <span>@Model.CreatedBy</span></li>
                </ul>

            </article>
        </div>

    </div> <!-- end page-header -->

    <div class="row blog-content">
        <div class="col-full blog-content__main">   

            <!-- Post Description-->         
            @Html.Raw(Model.PostDescription)

            <p class="blog-content__tags">
                <span>Post Tags</span>
                <span class="blog-content__tag-list">
                    @if (Model.Tags.Count > 0)
                    {
                        foreach (var tag in Model.Tags)
                        {
                            @Html.TagLink(tag)
                        }
                    }
                </span>                

            </p>

            <div class="blog-content__pagenav">
                <div class="blog-content__nav">
                    <div class="blog-content__prev">
                        <a href="#0" rel="prev">
                            <span>Previous Post</span>
                            Tips on Minimalist Design
                        </a>
                    </div>
                    <div class="blog-content__next">
                        <a href="#0" rel="next">
                            <span>Next Post</span>
                            Less Is More
                        </a>
                    </div>
                </div>

                <div class="blog-content__all">
                    <a href="@Url.Action("Posts", "Blog", new { page = 1})" class="btn btn--primary">View All Post</a>
                </div>
            </div>

        </div><!-- end blog-content__main -->
    </div> <!-- end blog-content -->

</article>

@Html.Action("LoadCommentsForPost", new
{
    postId = Model.PostId
})