
@model BlogEngine.DTO.Post
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

 <!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">Start Bootstrap</a>
                        on @Model.CreatedDate
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

 <!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.PostDescription)
            </div>
        </div>
    </div>
</article>

@*<div id="content">
    <div class="post">
        <div class="post-meta">
            <div class="row">
                <div class="post-title">
                    <h1>@Html.PostLink(Model)</h1>
                </div>
            </div>
            <div class="row">
                <div class="post-category">
                    <span>Category:</span> @Html.CategoryLink(Model.Category)
                </div>
                <div class="post-tags">
                    <span>Tags:</span> @Helpers.Tags(Html, Model.Tags)
                    @if (Model.Comments.Count() > 0)
                    {
                        <span>Comments(@Model.Comments.Count)</span>
                    }
                    else
                    {
                        <span>Comments(0)</span>
                    }
                </div>
                <div class="posted-date">
                    @Model.PostedOn
                </div>
            </div>
        </div>
        <div class="post-body">
            @Html.Raw(Model.PostDescription)
        </div>
        <hr />
        @Html.Action("LoadCommentsForPost",new { postId=Model.PostId})
    </div>
</div>*@


