@using BlogEngine.DTO
@model BlogEngine.Models.PostUserViewModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <section class="content-header">
        <h1>All Posts</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Home</a></li>
            <li class="active treeview">Posts</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <table id="tblAllPosts" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Categories</th>
                                    <th>Tags</th>
                                    <th>Is Published</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var post in Model.Posts)
                                {
                                    <tr>
                                        <td><h4><a href="#">@post.Title</a></h4>
                                            <span>
                                                <a href="@Url.Action("EditPost","Account",new {postId=post.PostId})">Edit</a>|
                                                @*<a href="#">Draft</a>|*@
                                                <a target="_blank" href="@Url.Action("PostById","Blog",new {postId=post.PostId})">View</a>|
                                                <a href="#" onclick="javascript: DeletePost(@post.PostId);">Delete</a>|
                                                <a href="@Url.Action("NotifyPostToSubscribers","Account",new {postId=post.PostId,postUrlSlug=post.PostUrlSlug})">Notify Subscribers</a>
                                            </span>
                                        </td>
                                        <td>@Model.User.FirstName</td>
                                        <td>@post.Category.CategoryName</td>
                                        <td>
                                            @{
                                                var lasttag = post.Tags.Last();
                                                foreach (var tag in post.Tags)
                                                {
                                                    if (tag == lasttag)
                                                    {
                                                        <p>@tag.TagName</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@tag.TagName,</p>
                                                    }
                                                }
                                            }                                            
                                        </td>
                                        <td>@post.IsPublished</td>
                                        <td>
                                            <p>@post.PostedOn</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#tblAllPosts").DataTable();
        //$("#tblAllPosts").DataTable({
        //    'paging': true,
        //    'lengthChange': false,
        //    'searching': false,
        //    'ordering': true,
        //    'info': true,
        //    'autoWidth': false
        //});
    });

    function DeletePost(postId) {
        var confirmDelete = confirm("Are you sure you want to Delete");       
        var userid='@Convert.ToInt64(ViewBag.UserId)';
        if (confirmDelete) {
            $.post("@Url.Action("DeletePost","Account")", { postId: postId }, function (res) {
                if (res.IsSucess == true) {
                    alert("Post deleted successfully");
                    window.location.href="@Url.Action("AuthorCreatedPosts","Account")?UserId="+userid;
                }
                else {
                    alert("Something went wrong post not deleted");
                }
            });
        }
    }

</script>
