
@model BlogEngine.Models.WidgetViewModel
@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style type="text/css">
.mce-fullscreen {
     z-index: 1050;
}
</style>
<div>
    <section class="content-header">
        <h1>Add New Post</h1>        
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Add New Post</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-body">
                        <input type="text" id="txtPostTitle" class="form-control input-lg" placeholder="Enter title here" />
                        <span style="color:red" id="spntxtPostTitle"></span>                        
                        <div class="margin-top-20px">
                            @*<button type="button" class="btn btn-default margin-bottom-10px"><i class="fa fa-fw fa-file"></i>Add Media</button>*@
                            <span><strong><i>create premalink</i></strong>:</span><br/>
                            <p>@ViewBag.HostUrl/<input type="text" id="txtPostUrlSlug" class="form-control" /></p>
                            <span id="spntxtPostUrlSlug" style="color:red"></span>
                            <textarea id="txtPostBody" class="txtPostBody" rows="50" cols="50"></textarea>
                            <span id="spntxtPostBody" style="color:red"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Publish</h2>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <button id="btnSaveDraft" onclick="javascript:savePostData();" href="#" class="btn btn-default">Save Post</button>
                        <a id="btnPreview" disabled="disabled" href="#" style="float:right;" class="btn btn-default">Preview</a>
                        <div class="margin-top-10px">
                            <p><i class="fa-map-pin"></i>Status:<strong> &nbsp;Draft &nbsp;</strong><a href="#">Edit</a></p>
                            <p><i class="fa-tag"></i>Visibility: &nbsp;<strong>Public &nbsp;</strong><a href="#">Edit</a></p>
                            <p><i class="fa-tag"></i>Publish: &nbsp;<strong>immediately &nbsp;</strong><a href="#">Edit</a></p>
                        </div>
                        <div>
                            <button id="btnPublish" disabled="disabled" style="float:right;" class="btn btn-success">Publish</button>
                        </div>
                    </div>
                </div>
                <!--Categories-->
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Categories</h2>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        
                        @foreach (var cat in Model.Categories)
                        {
                            <input type="radio" name="rdlPostCategories" id="rdlCategory_@cat.CategoryId" value="@cat.CategoryId" />@cat.CategoryName
                        }
                        <span id="spnrdlPostCategories" style="color:red"></span>
                        @*<div class="margin-top-10px">
                            <a href="#"><u>Add New Category</u></a>
                        </div>*@
                    </div>
                </div>
                <!--Tags-->
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Tags</h2>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body">                        
                        <select id="ddlTags" class="form-control" multiple="multiple">
                            <option value="">Select Tags</option>
                            @foreach (var tag in Model.Tags)
                            {                                
                                <option value="@tag.TagId">@tag.TagName</option>
                            }
                        </select>
                        <span id="spnddlTags" style="color:red"></span>
                        @*<div class="margin-top-10px">
                            <a href="#"><u>Add New Tag</u></a>
                        </div>*@
                    </div>
                </div>
                <!--Search description-->
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Search Description</h2>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <textarea id="txtSearchDescription" rows="4" cols="4" class="form-control"></textarea>
                        <span id="spntxtSearchDescription" style="color:red"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(function () {

        $("#btnPublish").attr("disabled", true);

        //initilizing tinyMCE editor
        tinymce.init({
            //selector: "textarea",
            theme: "modern",
            height: 400,
            autoresize_min_height: 400,
            autoresize_max_height: 1000,
            mode: "specific_textareas",
            editor_selector: "txtPostBody",
            plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak fullscreen",
                    "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
                    "table contextmenu directionality paste textcolor responsivefilemanager code autoresize"
            ],
            menubar: false,
            toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link unlink anchor styleselect | responsivefilemanager charmap",
            toolbar2: "image media | forecolor backcolor  | print preview code paste table | hr anchor pagebreak visualblocks insertdatetime visualchars searchreplace | fullscreen",
            image_advtab: true,
            relative_urls: false,
            remove_script_host: false,
            document_base_url: HostAddress,
            media_live_embeds: true,
            paste_data_images: true,
            paste_as_text: true,
            plugin_preview_height: 550,
            plugin_preview_width: 1300,
            code_dialog_height: 550,
            code_dialog_width: 1000,
            wordcount_cleanregex: /[0-9.(),;:!?%#$?\x27\x22_+=\\\/\-]*/g,
            external_filemanager_path: HostAddress + "/filemanager/",
            external_plugins: { "filemanager": HostAddress + "/filemanager/plugin.min.js" },
            filemanager_title: "BlogEngine File Manager"
        });        
    });

    //save post data
    function savePostData() {
        if (validatePost()) {
            var _postslug = "";
            var postTags = [];

            if ($.trim($("#PostUrlSlug").val()) != null && $.trim($("#PostUrlSlug").val()) != "") {
                _postslug = $.trim($("#PostUrlSlug").val());
            }
            else {
                var _postslug = $.trim($("#txtPostTitle").val());
                _postslug = _postslug.replace(/\ /g, '-'); //regular expression to replace space with '-'
            }
            $.each($("#ddlTags option:selected"), function () {
                postTags.push({ TagId: $(this).val() });
            });

            var postBody = tinyMCE.activeEditor.getContent();

            var postData = {
                PostId: 0,
                Title: $("#txtPostTitle").val().trim(),
                PostDescription: postBody,
                PostUrlSlug: _postslug,
                postStatus: 101, //for publish
                IsPublished:false,
                PostMeta: $("#txtSearchDescription").val(),
                CategoryId: $("input[name='rdlPostCategories']:checked").val(),
                Tags: postTags
            };

            $.ajax({
                url: 'NewPost',
                method: 'POST',
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(postData),
                success: function (data) {
                    if (data.IsSucess == true) {                        
                        alert("Post data saved!");
                        window.location.href = HostAddress + "/Account/EditPost?postId="+data.Id;                        
                    }                        
                },
                error: function () {
                    alert("Post saving failed pls try again!");
                }
            });
        }
        
    }

    function validatePost() {
        debugger;
        var result = true;
        var CategoriesCount = parseInt('@Model.Categories.Count');
        var postBody = tinyMCE.activeEditor.getContent();
        if ($("#txtPostTitle").val() == null || $("#txtPostTitle").val() == "") {
            $("#spntxtPostTitle").text("Post title can not be empty");
            result = false;
        }
        else {
            $("#spntxtPostTitle").text("");
        }
        if ($("#txtPostUrlSlug").val() == null || $("#txtPostUrlSlug").val() == "") {
            $("#spntxtPostUrlSlug").text("Post Urlslug required");
            result = false;
        }
        else {
            $("#spntxtPostUrlSlug").text("");
        }
        if (postBody == null || postBody=="") {
            result = false;
            $("#spntxtPostBody").text("Please write atleast 100 words as PostDescription");
        }
        else {
            $("#spntxtPostBody").text("");
        }
        if ($("input[name='rdlPostCategories']:checked").val() == undefined || $("input[name='rdlPostCategories']:checked").val() == "") {
            $("#spnrdlPostCategories").text("Please select atleast one Category");
            result = false;
        }
        else {
            $("#spnrdlPostCategories").text("");
        }
        if ($("#txtSearchDescription").val() == null || $("#txtSearchDescription").val() == "") {
            $("#spntxtSearchDescription").text("Search description can not be empty");
            result = false;
        }
        else {
            $("#spntxtSearchDescription").text("");
        }
        return result;
    }

</script>


